<!DOCTYPE html>
<html>
  <head>
    <title>Psd2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
      <%= link_to "Sign in with Github", user_github_omniauth_authorize_path %>
      <%= link_to "Sign in with Rabobank", user_rabobank_omniauth_authorize_path %>
      <%= link_to "Sign in with Bunq", user_bunq_omniauth_authorize_path %>
      <%= link_to "Sign in with Tink", user_tink_omniauth_authorize_path %>
    <% end %>
  </body>
</html>
